

html {
    font-size: 100%;
}

title {
    color : blue;
}
/*
body {
    font-family: Verdana,"Bitstream Vera Sans","Lucida Grande",sans-serif;
    font-size: 0.85em;
    padding: 1em;
}*/
body {

  column-width: 150px; /* Colonnes de 150 pixels de largeur */
  column-gap: 30px; /* Espacement */
  column-rule: 1px solid black; /* Un simple trait noir pour bordure de séparation */
}
h1 {
    background: none repeat scroll 0 0 #33CCFF;
    margin-top: 0;
    text-align: center;
}
ol, ul, li {
    margin: 1em;
    padding: 0;
}
div#colonne1 {
    background: none repeat scroll 0 0 lightblue;
    float: left;
    padding: 1px 0;
    width: 160px;
}
div#colonne2 {
    background: none repeat scroll 0 0 burlywood;
    float: right;
    padding: 1px 0;
    width: 300px;
}
div#centre {
    background: none repeat scroll 0 0 ;
    margin-left: 170px;
    margin-right: 310px;
    padding: 1px 20px;
}
