body { /* Arrière plan de la page */
  background-color: #F5DA81;
  font-family: "Times New Roman", "Arial Black", serif;
}

div.news-body { /* Conteneur du journal */
  /*background-image: -moz-linear-gradient(right bottom, rgb(205,205,205) 70%, rgb(227,227,227) 90%); /* Dégradé de fond */
  background-color : #FFFFFF ;
  background-image: -webkit-linear-gradient(right bottom, rgb(205,205,205) 70%, rgb(227,227,227) 90%);
  
  padding: 5px;
  
  border-radius: 0 10px 0 0; /* Coin haut droit corné */
  -moz-border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  -khtml-border-radius: 0 10px 0 0;
  -ms-border-radius: 0 10px 0 0;
  
  border-top: 5px double #6600CC; /* Bordures bas, gauche simples ; haut, droit doubles */
  border-right: 3px double #6600CC;
  border-bottom: 1px solid #6600CC;
  border-left: 1px solid #6600CC;
}

div.news-body > h1 { /* Titre principal */
  font-size: 3em;
  text-align: center;
  
  font-style: italic;
  
  margin-top: 0;
  
  border-bottom: 1px solid black;
}

div.news-body div.news-left { /* Manchette gauche */
  width: 300px;
  float: left;
  
  text-align: center;
  
  padding-right: 5px;
  border-right: 2px solid black;
}

div.news-body div.news-left div { /* Texte de la manchette */
  text-align: justify;
  
  column-count: 2; /* Deux colonnes */
  column-gap: 1.5em;
  column-rule: 1px solid black;
  
  -moz-column-count: 2;
  -moz-column-gap: 1.5em;
  -moz-column-rule: 1px solid black;
  
  -webkit-column-count: 2;
  -webkit-column-gap: 1.5em;
  -webkit-column-rule: 1px solid black;
}

div.news-body div.news-titles { /* Titres */
  text-align: center;
}

div.news-body div.news-titles h2 span, div.news-body div.news-titles h3 span { /* Titres (annotations de page) */
  font-style: oblique;
  font-size: 0.7em;
}

div.news-body div.news-first { /* A la une */
  text-align: center;
}

div.news-body div.news-first div { /* Texte de la une */
  text-align: justify;
  
  column-count: 3; /* Trois colonnes */
  column-gap: 1.5em;
  column-rule: 1px solid black;
  
  -moz-column-count: 3;
  -moz-column-gap: 1.5em;
  -moz-column-rule: 1px solid black;
  
  -webkit-column-count: 3;
  -webkit-column-gap: 1.5em;
  -webkit-column-rule: 1px solid black;
  
  padding-left: 5px;
}

div.news-body div.news-page { /* Informations de bas de page (numéro de page) */
  clear: both; /* En dessous de la manchette */
  
  text-align: right;
  font-style: oblique;
  
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
    font-size: 100%;
    font-weight: bold;
}

.collapsible {
    position: relative;
}
.CollapseIcon, .ExpandIcon {
    cursor: pointer;
    height: 9px;
    left: -16px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 5px;
    width: 9px;
}
.CollapseIcon {
    background-image: url("/static/minus9x9.gif");
}
.ExpandIcon {
    background-image: url("/static/plus9x9.gif");
}

table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}
