<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Alphasat DB interface</title> 
</head>

<body>
     <p>
            
         <br /> <img src="/static/Logo_mnhn.jpg" alt="MNHN" />
    </p>
    <h1>Alphasat DB interface</h1>
    
    <h1>ALL Blocks</h1>
    
    <p>Construction en cours de l'interface web de la base de données des alphasats de primates<br />
    
        <select>
            <optgroup label="Blocks">
                    {% for a in l %}
                  <option>{{a}}</option>
                        {% endfor %}
          </optgroup>
        </select> 
</body>
</html>
