{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block head %}
{% endblock %}


{% block content %}

 <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Accueil</div>
            </div>
            <div class="panel-body">
                <div class="form-group">

<h2>What is the Alphasat Database?</h2>

<p>
This database was built by the "Muséum national d'Histoire naturelle" to 
allowed an easier research of the alphasatellite sequences (centromeric sequences)
</p>

<p>
This database group several genomes as the human genome, chimpanzee genome..
This base has for goal to store the primates monomers and associated families.
</p>

<p>
For more informations about the utilisation of this database, please check the
"help and documentation" menu.
To contact the support, please check the "contact" menu
</p>

<p>
For a new research, just click on "New research"
</p>

 </div>
           </div><!-- end panel-body -->
        </div><!-- end panel -->


{% endblock %}
