<html>
<head>
   <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/test_colonne.css" /> 
    <title>Alphasat Database {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.css">
    <script src="/static/jquery.js"></script>
    <script src="/static/jquery-ui/jquery-ui.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.btn').button();
        });
    </script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    {% block head %}{% endblock %}
</head>
<body>
<div role="main" class="container" style="max-width: 960px">
    <div class="header" style="border-bottom: 1px solid #e5e5e5;">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/list/Taxon">New search</a></li>
            <li class="active"><a href="/alphasat/help_and_documentation">Help and documentation</a></li>
            <li class="active"><a href="/alphasat/contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">
            <a  href="http://www.mnhn.fr/fr" >
            <img src="/static/Logo_mnhn.jpg" alt="MNHN" />
            </a>
            <a href="/alphasat/accueil"> Muséum national d'Histoire naturelle - Alphasat Database </a>
        </h3> 
    </div>

    {% block content %}{% endblock %}
</div>
</body>
</html>
