{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block head %}
{% endblock %}


{% block content %}


<div class="panel panel-primary">
        <div class="panel-heading"><div class="panel-title">Contact</div></div>
        <div class="panel-body"
<h4>For more informations about the AlphasatDatabase or 
if you encounter any problem with the use of the interface
please contact : </br>

<a href="mailto:loic.ponger@mnhn.fr">Loic Ponger</a>
 </div>
        </div><!-- end panel-body -->
    </div><!-- end panel -->



{% endblock %}
