{% extends "base.html" %}
{% block title %}Taxon selection{% endblock %}
{% block head %}
    <script type="text/javascript">
    function handle_options() {
        $('#seq_options').hide();
        $('#csv_options').hide();
        
        $('#format_csv').change(function(){
            if($('#format_csv:checked'))
            {
                $('#seq_options').hide();
                $('#csv_options').show();
            }
        });
        $('#format_fasta').change(function(){
            if($('#format_fasta:checked'))
            {
                $('#seq_options').show();
                $('#csv_options').hide();
            }
        });
    }
    
    $(handle_options);
    </script>
{% endblock %}
{% block content %}
<form action="/results/monomers&blocks" method="POST" class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Format Name</div>
        </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="radio" name="name_format" value="database_name" id="database_name" checked="checked"/> <label for="database_name">database name</label><br />
                    <input type="radio" name="name_format" value="simple_numbering" id="simple_numbering" /> <label for="simple_numbering">simple numbering</label><br />           
                    <input type="radio" name="name_format" value="chr_begin_end_strand" id="chr_begin_end_strand" /> <label for="chr_begin_end_strand">chr_begin_end_strand</label><br />
                </div>
            </div><!-- end panel-body -->
    </div><!-- end panel -->
    
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Output Format</div>
        </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="format" value="format_csv" id="format_csv">CSV
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="format" value="format_fasta" id="format_fasta">Sequence
                        </label>
                    </div>
                    <!--<input type="radio" name="output" value="features" id="features" /> <label for="features">Features</label><br />-->
                    <div id="csv_options">
                        <input type="radio" name="csv" value="tab" id="tab"  /> <label for="tab">tab</label><br />
                        <input type="radio" name="csv" value="space" id="space" /> <label for="space">space</label><br />
                        <input type="radio" name="csv" value="comma" id="comma" checked="checked" /> <label for="comma">comma</label><br />
                    </div>
                    <div id="seq_options">
                       <input type="radio" name="output" value="fasta" id=".fasta" checked="checked" /> <label for="fasta">.fasta</label><br />
                       <input type="radio" name="output" value="fasta.gzip" id=".fasta.gzip"/> <label for="fasta">.fasta.gzip</label><br />
                    </div>
            </div><!-- end panel-body -->
    </div><!-- end panel -->
    <input type="hidden" name="list_encode" value= "{{list_encode}}" />
    <input type="hidden" name="retrieve_type" value= "{{retrieve_type}}" />
    <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="submit" />
</form>
{% endblock %}
