{% extends "base.html" %}
{% block title %}Monomer search{% endblock %}
{% block head %}
    <script type="text/javascript">
    function handle_buttons() {
        $('#chromosome_select_all').click(function() {
            $('#Chromosomes option').prop('selected', true);
            return false;
        });
        $('#family_select_all').click(function() {
            $('#Family option').prop('selected', true);
            return false;
        });
        $('#centromer_select_all').click(function() {
            $('#Centromer option').prop('selected', true);
            return false;
        });
    }
    
    $(handle_buttons);
    </script>
{% endblock %}
{% block content %}
    <form action="/taxons/filters" method="POST" class="form-horizontal">
        <h2>Filters</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Selection by Chromosome properties</div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="Chromosomes" class="col-sm-2 control-label">Chromosomes</label>
                    <select name="Chromosomes" id="Chromosomes" multiple size = 10 style="width: 300px" >
						{%for key,item in chromosome|dictsort  %}
                    <option value="{{item|e}}">{{key|e}}</option>
                            {% endfor %}
                    </select>
                    <button class="btn btn-primary btn-xs" id="chromosome_select_all">Select all</button>
                </div>
                    
                <div class="form-group">
                    <label for="base_pair_begin" class="col-sm-2 control-label">Base pair begin</label>
                    <input type="int" name="base_pair_begin" id="base_pair_begin" />
                </div>
           
                <div class="form-group">
                    <label for="base_pair_end" class="col-sm-2 control-label">Base pair end</label>
                    <input type="int" name="base_pair_end" id="base_pair_end" />
                </div>
                    
                <div class="form-group">
                    <label for="distance_from_centromer" class="col-sm-2 control-label">Distance from centromer</label>
                    <input type="int" name="distance_from_centromer" id="distance_from_centromer" />
                </div>
            </div><!-- end panel-body -->
        </div><!-- end panel -->
       
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Selection by family name</div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="Family" class="col-sm-2 control-label">Families</label>
                    <select name="Family" id="Family" multiple size = 10 style="width:300" >
                        <!-- {#{%for key, item in family.items() %}#}
                        <option value="{#{{item|e}}">{{key|e}}#}</option>
                            {#{% endfor %}#} --> 
                    </select>
                    <button class="btn btn-primary btn-xs" id="family_select_all">Select all</button>
                </div>
            </div><!-- end panel-body -->
        </div><!-- end panel -->
    
        <div class="panel panel-primary">
            <div class="panel-heading"><div class="panel-title">Selection by block name</div></div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="block_name" class="col-sm-2 control-label">Block name</label>
                    <textarea name="textarea" rows="5" cols="50"></textarea>
                </div>
            </div>
        </div>
        <input type="hidden" name="list_chromosomes" value= "{{chro_dict}}" />
        <input type="hidden" name="family_name_id" value= "{{family_name_id}}" />
        <input type="hidden" name="chromosome_name_id" value= "{{chromosome_name_id}}" />
        
        
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="submit" />
    </form>
{% endblock %}
