<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Alphasat DB interface</title> 
</head>

<body>
    <p>
          <!--"/static/style.css"  -->
         <br /> <img src="/static/Logo_mnhn.jpg" alt="MNHN" />
    </p>
    <h1>Alphasat DB interface</h1>
    
    <h1>Taxons</h1>
    
    <p>Construction en cours de l'interface web de la base de données des alphasats de primates<br />
    
       
    <div id="colonne1">blabla</div>
    
    <div id="colonne2">blabla</div>
    
    <div id="centre">
        <form action="/taxons/chromosomes" method="POST">
    <SELECT NAME="Taxons" MULTIPLE >
            {% for a in l %}
            <OPTION > {{a}} </OPTION>
            {% endfor %}
        </SELECT>
    <input type="submit" value="Submit" name="envoyer" />  
    </form>
    </div>
    
    
</body>
</html>
