
<html>

<head>
   <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/test_colonne.css" /> 
    <title>Alphasat Database</title>
    <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.css">
    <script src="/static/jquery.js"></script>
    <script src="/static/jquery-ui/jquery-ui.js"></script>

   
<h3>Results</h3>

        <div>
                <form>
              <table>
                   <tr>
                       <th>Nom</th>
                       <th>Chromosome</th>
                       <th>Begin</th>
                       <th>End</th>
                       <th>Strand</th>
                   </tr>
                   {% for i in monomer %} 
                   <tr>
                       <td> {{i['name']}} </td>
                       <td> {{i['chromosome_name']}} </td>
                       <td> {{i['begin']}} </td>
                       <td> {{i['end']}} </td>
                       <td> {{i['strand']}} </td>
                       
                      
                   </tr>
                         {% endfor %} 
                </table>
            </form>


    </div>
            
            
            
            
            
            
            
            
</body>

</html>
