{% extends "base.html" %}

{% block title %}Taxon selection{% endblock %}

{% block head %}
  <script type="text/javascript">
    function handle_buttons() {
        $('#taxons_select_all').click(function() {
            $('#Taxons option').prop('selected', true);
            return false;
        });
    }
    
    $(handle_buttons);
    </script>
{% endblock %}
 
{% block content %}

    <form action="/taxons/chromosomes" method="POST">
    <div class="panel panel-primary">
        <div class="panel-heading"><div class="panel-title">Taxon selection by name</div></div>
            <div class="panel-body">
                <div class="form-group">
                <label for="block_name" class="col-sm-2 control-label">Taxons</label>
                
                    <SELECT NAME="Taxons" id = "Taxons"MULTIPLE SIZE = 5 STYLE="width:120">
                                    {%for i in taxon_name %}
                                    <option>{{i}}</option>
                                    {% endfor %}
                                    </SELECT>
                        <button class="btn btn-primary btn-xs" id="taxons_select_all">Select all</button>
                </div>
        </div><!-- end panel-body -->
    </div><!-- end panel -->
    <input type="hidden" name="taxon_dict" value= "{{taxon_dict}}" />
    <input class="btn btn-primary btn-lg" type="submit" value="Submit" name="submit" /> 
    </form>
    

{% endblock %}
