<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Alphasat DB interface</title> 
</head>

<body>
    <p>
            
         <br /> <img src="/static/Logo_mnhn.jpg" alt="MNHN" />
    </p>
    <h1>Alphasat DB interface</h1>
    <h1>TAXONS</h1>
    
    <p>Construction en cours de l'interface web de la base de données des alphasats de primates<br />
    
    <p><a href="web.html" id="accueil">accueil</a>   </p>
    <p> </p>
    <p></p>
    <ul id="menu-demo2">
        <SELECT NAME="Taxons" MULTIPLE >
            {% for a in l %}
            <OPTION VALUE="a">{{a}}
            {% endfor %}
        </SELECT>
 
    </ul>
</body>
</html>
